@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

body {
    background-image: linear-gradient(to right, #F29B9B, #F2BBBB);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d88989;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2CF8D;
    text-align: center;
    text-shadow: 1px 1px 2px #dab97d ;
}

h2 {
    color: #106973;
}
p{
    text-align: justify;
}