@charset "UTF-8";

body {
    background-color: #F2E7DC;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #038C7F;
}

h1#principal {
    text-align: center;
    background-color:#A9D9D0;
    color: #0D0D0D;
}

h2 {
    color: #027373;
}

.basico {
    color: rgb(48, 99, 48);
}

.intermediario {
    color: rgb(179, 179, 0);
}

.avancado {
    color: rgba(59, 8, 8, 0.74);

}

